@import './variables.scss';

@mixin button {
        border-radius: $borderRadius;
        padding: 10px 25px;
        margin: 0 5px;
        border: none;
        text-transform: capitalize;
        cursor: pointer;
        transition: $transition;
        color: #fff;
        box-shadow: $boxShadow;
        position: relative;
}