@import "./variables";
@import "./buttons";


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.orang-status {
    color: $orangeColor !important;
    background-color: $lightOrangeColor;
    padding: 10px;
    border-radius: $border-radius;
}

.purble-status {
    color: $mainColor !important;
    background-color: $lightMainColor;
    padding: 10px;
    border-radius: $border-radius;
}