// colors
$mainColor:#6200EE;
$lightMainColor:#F2F5FF;
$blueColor:#6280FF;
$orangeColor:#FF9C46;
$lightOrangeColor:#FFF3E9;
$greenColor:#4A7745;
$gray:#484848;
$light:#fafafa;
$grayDark:#111;
$grayLight:#ddd;


// general
$bold700:700;
$borderRadius: 0.3rem;
$borderCurve: 2rem;
$borderCircle: 50%;
$transition:all .2s ease-in-out;
$boxShadow: 0 1px 4px rgba(0, 0, 0, .15);
$fontSize30: 30px;
$fontSize25: 25px;
$fontSize20: 20px;
$fontSize18: 18px;
$fontSize17: 17px;
$fontSize16: 16px;
$fontSize15: 15px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize12: 12px;