// colors
$mainColor:#6100f1;
$lightMainColor:#f3f4ff;
$orangeColor:#f3b150;
$lightOrangeColor:#fff2e7;
$gray:#777;
$light:#fafafa;
$grayDark:#111;
$grayLight:#ddd;
// general
$bold700:700;
$border-radius: 0.3rem;
$border-curve: 2rem;
$transition:all .2s ease-in-out;
$box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
$fontSize30: 30px;
$fontSize25: 25px;
$fontSize20: 20px;
$fontSize18: 18px;
$fontSize17: 17px;
$fontSize16: 16px;
$fontSize15: 15px;
$fontSize14: 14px;